{% extends "CorreoBundle::menu.html.twig" %} 
{% block titulo %} ENVIO MASIVO DE CORREOS.RELACION DE PERSONAS {% endblock %}
{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <a href="{{path("addPersona")}}" class="btn btn-success">Nuevo Persona</a>
        <hr/>
        
        <table class="tabla table" border="1">
            <thead>
                <tr class="success">
                    <th class="text-center text-bold">ID</th>
                    <th class="text-center text-bold">Nombre</th>
                    <th class="text-center text-bold">email</th>
                    <th class="text-center text-bold">Fichero</th>
					<th class="text-center text-bold">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Persona in Personas %}
                    <tr>
                        <td class="text-center">{{Persona.id}}</td>
						<td class="text-center">{{Persona.nombre}}</td>
						<td class="text-center">{{Persona.email}}</td>
						<td class="text-center">{{Persona.fichero}}</td>
						<td class="text-center"> 
                             <a href="{{path('editPersona',{ "id":Persona.id })}}" 
                               class="btn btn-success">Editar
                            </a>
                            <a href="{{path("deletePersona",{ "id":Persona.id })}}" 
                               class="btn btn-danger">Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}