{% extends "CertBundle:Default:layout.html.twig" %} 
{% block contenido %}
    {%include "CertBundle:Default:funciones.html.twig" %}
    <div class="container jumbotron text-center">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <img src= "{{asset('img/saludMadrid.png')}}"></img>
        <h3><span>Consulta del Certificado de Servicios Prestados en Atención Primaria 
                para el Reconocimiento de la Carrera Profesional del Personal de Formación Profesional del Área Sanitaria y Personal de Gestión.</span></h3>
        <span>  <h4>Este certificado muestra el tiempo trabajado en Atención Primaria del SERMAS en la categoría para la que se solicita 
                el reconocimiento de la Carrera Profesional </h4></span>
        <h2><span>{{app.session.get('nombre')}}</span></h2>
        <h3> <span>Ultimo Acceso: {{app.session.get('fecha')}}</span></h3>
        <a  class="btn btn-warning btn-lg"  
            href="{{path("descargaCertificado",{'usuario_id':app.session.get('usuario_id')})}}">Descarga</a>
        <a class="btn btn-info btn-lg"  
           href="{{path("logout")}}">Salir</a>
    </div>
{% endblock %}
